@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Custom styles to enhance the design */

/* Background animation for the space theme */



/* Button pulse animation */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(139, 92, 246, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(139, 92, 246, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(139, 92, 246, 0);
    }
}


html,
body {
    height: 100%;
    width: 100%;
    direction: rtl;
    
    scroll-behavior: smooth;
    padding-left: 0;
    margin: 0;
}


body {
    scrollbar-width: thin;
    scrollbar-color: #2563eb #f1f1f1;
}

/* Chrome + Edge + Safari */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#2563eb, #f59e0b);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}





